usntemplate-gnuplottex*
usntemplate.gnuploterrors
usntemplate.aux
usntemplate.bbl
usntemplate.bcf
usntemplate.blg
usntemplate.lof
usntemplate.log
usntemplate.lol
usntemplate.lot
usntemplate.out
usntemplate.pdf
usntemplate.run.xml
usntemplate.toc
usntemplate.acn
usntemplate.glo
usntemplate.ist
usntemplate.acr
usntemplate.alg
usntemplate.glg
usntemplate.gls
usntemplate.snm
usntemplate.nav
usntemplate.vrb
*~
